<div class="row mt-5">
<div class="col-md-2">
<div class="nav flex-column nav-pills bg-light" id="v-pills-tab" role="tablist" aria-orientation="vertical">
  <a class="nav-link" id="v-pills-home-tab" href="/products"  aria-controls="v-pills-home" aria-selected="true">Manage Products</a>
  <a class="nav-link" id="v-pills-profile-tab" href="/brands"  aria-controls="v-pills-profile" aria-selected="false">Manage Brands</a>
  <a class="nav-link" id="v-pills-profile-tab"  href="/categories" aria-controls="v-pills-profile" aria-selected="false">Manage Categories</a>
  <a class="nav-link" id="v-pills-settings-tab"  href="/orders" aria-controls="v-pills-settings" aria-selected="false">Manage Orders</a>
</div>


</div>
